@media (max-width: 575.98px) {
    .col {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .col {
      flex-basis: calc(33.33% - 10px);
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .col {
      flex-basis: calc(25% - 10px);
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col {
      flex-basis: calc(20% - 10px);
    }
  }
  
  @media (min-width: 1200px) {
    .col {
      flex-basis: calc(16.66% - 10px);
    }
  }